@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Letter in "The Beautiful People" */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:letter"] header [epub|type~="z3998:salutation"]{
	text-align: initial;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

/* Inner thoughts in "Elegy" */
q{
	font-style: italic;
}
